##################################
# FOR THE (idiomatic) ADMIN TESTS:
##################################

# General setting
export DO_IDIOMATIC_ADMIN_TESTS="1"

# PROD settings
export PROD_ADMIN_TEST_ASTRA_DB_APPLICATION_TOKEN="AstraCS:..."
export PROD_ADMIN_TEST_ASTRA_DB_PROVIDER="aws"
export PROD_ADMIN_TEST_ASTRA_DB_REGION="eu-west-1"

# DEV settings (optional)
export DEV_ADMIN_TEST_ASTRA_DB_APPLICATION_TOKEN="AstraCS:..."
export DEV_ADMIN_TEST_ASTRA_DB_PROVIDER="aws"
export DEV_ADMIN_TEST_ASTRA_DB_REGION="us-west-2"
