########################################
# FOR THE TESTS WITH A LOCAL DATA API: #
########################################

# Authentication:
export LOCAL_DATA_API_USERNAME="cassandra"
export LOCAL_DATA_API_PASSWORD="cassandra"

export LOCAL_DATA_API_ENDPOINT="http://localhost:8181"
export LOCAL_CASSANDRA_CONTACT_POINT="127.0.0.1"

# OPTIONAL: (if defined here, they will be created as needed)
export LOCAL_DATA_API_KEYSPACE="default_keyspace"
export LOCAL_DATA_API_SECONDARY_KEYSPACE="alternate_keyspace"

# RERANKER SETTINGS
export ASTRAPY_FINDANDRERANK_USE_RERANKER_HEADER="y"
# Local runs require a DEV token as reranker API Key:
export HEADER_RERANKING_API_KEY_NVIDIA="AstraCS:[...]"
