####################################
# FOR THE VECTORIZE TESTS IN BASE: #
####################################

# Provide a valid OpenAI API Key for embedding computations:
export HEADER_EMBEDDING_API_KEY_OPENAI="..."
