######################################
# FOR THE TESTS WITH TESTCONTAINERS: #
######################################

export DOCKER_COMPOSE_LOCAL_DATA_API="yes"
# Uncomment if using podman in lieu of docker:
export DOCKER_COMMAND_NAME="podman"

# RERANKER SETTINGS for non-Astra runs (Optional).
# Uncomment and supply a DEV Astra token to run the related tests:
# export HEADER_RERANKING_API_KEY_NVIDIA="AstraCS:xyz...abc..."
