########################
# FOR THE REGULAR TESTS:
########################

export ASTRA_DB_APPLICATION_TOKEN="AstraCS:..."

export ASTRA_DB_API_ENDPOINT="https://<DB_ID>-<DB_REGION>.apps.astra.datastax.com"

# OPTIONAL (the first has a default; a few tests are skipped if the second is missing):
# export ASTRA_DB_KEYSPACE="..."
# export ASTRA_DB_SECONDARY_KEYSPACE="..."



##########################
# FOR THE (core) OPS TEST:
##########################

export ASTRA_DB_ID="..."

# OPTIONAL (falls back to the token above if not defined. Ensure it is a DB Admin token)
export ASTRA_DB_OPS_APPLICATION_TOKEN="..."
