########################
# FOR THE ADMIN TESTS: #
########################

# PROD settings
export PROD_ADMIN_TEST_ASTRA_DB_APPLICATION_TOKEN="AstraCS:..."
export PROD_ADMIN_TEST_ASTRA_DB_PROVIDER="aws"
export PROD_ADMIN_TEST_ASTRA_DB_REGION="eu-west-1"

# DEV settings (optional)
export DEV_ADMIN_TEST_ASTRA_DB_APPLICATION_TOKEN="AstraCS:..."
export DEV_ADMIN_TEST_ASTRA_DB_PROVIDER="aws"
export DEV_ADMIN_TEST_ASTRA_DB_REGION="us-west-2"

# TEST settings (optional)
export TEST_ADMIN_TEST_ASTRA_DB_APPLICATION_TOKEN="AstraCS:..."
export TEST_ADMIN_TEST_ASTRA_DB_PROVIDER="aws"
export TEST_ADMIN_TEST_ASTRA_DB_REGION="us-west-2"
