####################################
# FOR THE VECTORIZE TESTS IN BASE: #
####################################

# Provide a valid embedding API Key for embedding computations,
# This must match the variable name gathered by `embedding_provider_switcher.py`:
# (you should not need to change this var. name unless you are changing the switcher)
export HEADER_EMBEDDING_API_KEY_VOYAGEAI="..."
