######################################
# FOR THE TESTS WITH TESTCONTAINERS: #
######################################

export DOCKER_COMPOSE_LOCAL_DATA_API="yes"
# Uncomment if using podman in lieu of docker:
export DOCKER_COMMAND_NAME="podman"

# RERANKER SETTINGS (uncomment and fill)
# export ASTRAPY_FINDANDRERANK_USE_RERANKER_HEADER="yes"
# Local runs require a DEV token as reranker API Key:
# export HEADER_RERANKING_API_KEY_NVIDIA="AstraCS:xyz...abc..."
