##############################
# FOR THE TESTS ON ASTRA DB: #
##############################

export ASTRA_DB_APPLICATION_TOKEN="AstraCS:..."

export ASTRA_DB_API_ENDPOINT="https://<DB_ID>-<DB_REGION>.apps.astra.datastax.com"

# OPTIONAL (the first has a default; a few tests are skipped if the second is missing):
# export ASTRA_DB_KEYSPACE="..."
# export ASTRA_DB_SECONDARY_KEYSPACE="..."
