########################
# FOR THE REGULAR TESTS:
########################
ASTRA_DB_APPLICATION_TOKEN="AstraCS:..."
ASTRA_DB_API_ENDPOINT="https://<DB_ID>-<DB_REGION>.apps.astra.datastax.com"
#
# OPTIONAL:
# ASTRA_DB_KEYSPACE="..."


###################
# FOR THE OPS TEST:
###################
ASTRA_DB_ID="..."
