########################
# FOR THE REGULAR TESTS:
########################
#
export ASTRA_DB_APPLICATION_TOKEN="AstraCS:..."
#
export ASTRA_DB_API_ENDPOINT="https://<DB_ID>-<DB_REGION>.apps.astra.datastax.com"
#
# OPTIONAL:
# export ASTRA_DB_KEYSPACE="..."


###################
# FOR THE OPS TEST:
###################
#
export ASTRA_DB_ID="..."
#
# OPTIONAL (falls back to the token above)
# export ASTRA_DB_OPS_APPLICATION_TOKEN="..."
