########################
# FOR THE REGULAR TESTS:
########################
#
export LOCAL_DATA_API_APPLICATION_TOKEN="Cassandra:Y2Fzc2FuZHJh:Y2Fzc2FuZHJh"
#
export LOCAL_DATA_API_ENDPOINT="http://localhost:8181"
#
# OPTIONAL:
export LOCAL_DATA_KEYSPACE="default_keyspace"
# export ASTRA_DB_SECONDARY_KEYSPACE="..."
