# The variables defined here are to probe the HEADER vedtorize mode.

# Azure OpenAI secrets/parameters
export HEADER_EMBEDDING_API_KEY_AZURE_OPENAI="..."
export AZURE_OPENAI_DEPLOY_ID_EMB3LARGE="..."
export AZURE_OPENAI_RESNAME_EMB3LARGE="..."
export AZURE_OPENAI_DEPLOY_ID_EMB3SMALL="..."
export AZURE_OPENAI_RESNAME_EMB3SMALL="..."
export AZURE_OPENAI_DEPLOY_ID_ADA2="..."
export AZURE_OPENAI_RESNAME_ADA2="..."

# VertexAI secrets/parameters
export HEADER_EMBEDDING_API_KEY_VERTEXAI="..."
export HEADER_EMBEDDING_VERTEXAI_PROJECT_ID="..."

# All other providers' embedding api keys
export HEADER_EMBEDDING_API_KEY_COHERE="..."
export HEADER_EMBEDDING_API_KEY_HUGGINGFACE="..."
export HEADER_EMBEDDING_API_KEY_JINAAI="..."
export HEADER_EMBEDDING_API_KEY_MISTRAL="..."
export HEADER_EMBEDDING_API_KEY_OPENAI="..."
export HEADER_EMBEDDING_API_KEY_UPSTAGE="..."
export HEADER_EMBEDDING_API_KEY_VOYAGEAI="..."

# SHARED_SECRET testing information. Preparation to be done in the UI for now:
# Scope these secrets, with these names, to the targeted DB(s):
#   SHARED_SECRET_EMBEDDING_API_KEY_AZURE_OPENAI
#   SHARED_SECRET_EMBEDDING_API_KEY_HUGGINGFACE
#   SHARED_SECRET_EMBEDDING_API_KEY_JINAAI
#   SHARED_SECRET_EMBEDDING_API_KEY_MISTRAL
#   SHARED_SECRET_EMBEDDING_API_KEY_OPENAI
#   SHARED_SECRET_EMBEDDING_API_KEY_UPSTAGE
#   SHARED_SECRET_EMBEDDING_API_KEY_VOYAGEAI
