name: ruff, isort, black and mypy checks

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  mypy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11' # Or any version you prefer

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        poetry install --with dev

    - name: Ruff Linting AstraPy
      run: |
        poetry run ruff check astrapy

    - name: Ruff Linting Tests
      run: |
        poetry run ruff check tests

    - name: Isort Linting AstraPy
      run: |
        poetry run isort --check astrapy --profile black

    - name: Isort Linting Tests
      run: |
        poetry run isort --check tests --profile black
  
    - name: Black linting astrapy
      run: |
        poetry run black --check astrapy
  
    - name: Black linting tests
      run: |
        poetry run black --check tests

    - name: Run MyPy AstraPy
      run: |
        poetry run mypy astrapy

    - name: Run MyPy Tests
      run: |
        poetry run mypy tests
