name: Run base integration tests on a local Data API

on:
  workflow_call:
    inputs:
      coverage_prefix:
        description: "Code coverage file base name"
        type: string
        required: true
      sha:
        description: "Commit SHA of the code being tested"
        type: string
        required: true
    secrets:
      AWS_ECR_REGION:
        required: true
      AWS_ECR_ACCOUNT_ID:
        required: true
      AWS_ECR_ROLE_NAME:
        required: true
      AWS_ECR_REPOSITORY:
        required: true
      AWS_ECR_REGISTRY:
        required: true
      HEADER_EMBEDDING_API_KEY_OPENAI:
        required: true
      DOCKER_COMPOSE_LOCAL_DATA_API:
        required: true
      HEADER_RERANKING_API_KEY_NVIDIA:
        required: true

permissions:
  id-token: write          # required for OIDC
  contents: read           # required for actions/checkout if you use it

jobs:
  test:
    env:
      AWS_ECR_REGION: ${{ secrets.AWS_ECR_REGION }}
      AWS_ECR_ACCOUNT_ID: ${{ secrets.AWS_ECR_ACCOUNT_ID }}
      AWS_ECR_ROLE_NAME: ${{ secrets.AWS_ECR_ROLE_NAME }}
      AWS_ECR_REPOSITORY: ${{ secrets.AWS_ECR_REPOSITORY }}
      AWS_ECR_REGISTRY: ${{ secrets.AWS_ECR_REGISTRY }}
      HEADER_EMBEDDING_API_KEY_OPENAI: ${{ secrets.HEADER_EMBEDDING_API_KEY_OPENAI }}
      DOCKER_COMPOSE_LOCAL_DATA_API: ${{ secrets.DOCKER_COMPOSE_LOCAL_DATA_API }}
      # HEADER_RERANKING_API_KEY_NVIDIA: ${{ secrets.HEADER_RERANKING_API_KEY_NVIDIA }}
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python + uv
      uses: "./.github/actions/uv_setup"
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: uv sync --dev
      shell: bash

    - name: Configure AWS credentials from OIDC
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::${{ env.AWS_ECR_ACCOUNT_ID }}:role/${{ env.AWS_ECR_ROLE_NAME }}
        aws-region: ${{ env.AWS_ECR_REGION }}

    - name: Login to Amazon ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Run pytest
      run: |
        uv run pytest --cov=astrapy/ tests/base/integration -vv

    - name: Upload coverage data (unique per commit)
      uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.coverage_prefix }}-${{ inputs.sha }}
        path: .coverage
        retention-days: 1
        include-hidden-files: true
