name: Run base integration tests on Astra DB

on:
  workflow_call:
    inputs:
      coverage_prefix:
        description: "Code coverage file base name"
        type: string
        required: true
      sha:
        description: "Commit SHA of the code being tested"
        type: string
        required: true
    secrets:
      ASTRA_DB_APPLICATION_TOKEN:
        required: true
      ASTRA_DB_API_ENDPOINT:
        required: true
      HEADER_EMBEDDING_API_KEY_OPENAI:
        required: true
      LEGACY_INSERTMANY_BEHAVIOUR_PRE2193:
        required: true

jobs:
  test:
    env:
      ASTRA_DB_APPLICATION_TOKEN: ${{ secrets.ASTRA_DB_APPLICATION_TOKEN }}
      ASTRA_DB_API_ENDPOINT: ${{ secrets.ASTRA_DB_API_ENDPOINT }}
      HEADER_EMBEDDING_API_KEY_OPENAI: ${{ secrets.HEADER_EMBEDDING_API_KEY_OPENAI }}
      LEGACY_INSERTMANY_BEHAVIOUR_PRE2193: ${{ secrets.LEGACY_INSERTMANY_BEHAVIOUR_PRE2193 }}
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python + uv
      uses: "./.github/actions/uv_setup"
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: uv sync --dev
      shell: bash

    - name: Run pytest
      run: |
        uv run pytest --cov=astrapy/ tests/base/integration -vv

    - name: Upload coverage data (unique per commit)
      uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.coverage_prefix }}-${{ inputs.sha }}
        path: .coverage
        retention-days: 1
        include-hidden-files: true
