name: Run unit tests

on:
  workflow_call:
    inputs:
      coverage_prefix:
        description: "Code coverage file base name"
        type: string
        required: true
      sha:
        description: "Commit SHA of the code being tested"
        type: string
        required: true
      coverage_python_version:
        description: "Python version for collecting code coverage data"
        type: string
        required: true
    secrets:
      ASTRA_DB_APPLICATION_TOKEN:
        required: true
      ASTRA_DB_API_ENDPOINT:
        required: true

jobs:
  test:
    env:
      ASTRA_DB_APPLICATION_TOKEN: ${{ secrets.ASTRA_DB_APPLICATION_TOKEN }}
      ASTRA_DB_API_ENDPOINT: ${{ secrets.ASTRA_DB_API_ENDPOINT }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
    name: "unit test on Python ${{ matrix.python-version }}"
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pipx install uv
        make venv

    - name: Run pytest
      run: |
        uv run pytest --cov=astrapy/ tests/base/unit -vv

    - name: Upload coverage data (unique per commit)
      if: matrix['python-version'] == inputs.coverage_python_version
      uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.coverage_prefix }}-${{ inputs.sha }}
        path: ./.coverage
        retention-days: 1
        include-hidden-files: true
